.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

img.signature {
  position: absolute;
  right: 7dvh;
  bottom: calc((15dvh / 2) - 20px);
  height: 40px;
  filter: brightness(200) saturate(0);
  z-index: -1;
}

.buttons-container {
  display: inherit;
  gap: 2rem;
  height: fit-content;
}

.buttons-container > button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.5rem;
  height: 3.5rem;

  font-size: 2rem;
  color: white;

  border: none;
  border-radius: var(--bord-rad);

  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttons-container > button:disabled,
.buttons-container > button:disabled:hover {
  cursor: not-allowed;
  /* background-color: gray; */
  opacity: 0.1;
  z-index: -1;
}

.buttons-container > button:hover {
  background-color: var(--color-primary);
  color: white;
  transition: all 0.2s ease-in-out;
}

.buttons-container .separator {
  width: 3px;
  height: 20px;
  align-self: center;
  background-color: var(--color-primary-dark);
}

@media screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  img.signature {
    position: static;
  }
}
