.app-container {
  display: grid;
  grid-template-rows: 85dvh 15dvh;
  overflow: hidden;
}

.background {
  position: fixed;
  width: 100%;
  height: 110%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background: url("../img/no-logo.webp");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50px);
  mix-blend-mode: color;

  z-index: -1;
}

@media screen and (max-width: 1000px) {
  .app-container {
    grid-template-rows: 80dvh 20dvh;
  }
}
