.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.message-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  min-width: 50rem;
  max-width: 80vw;
  height: fit-content;
  max-height: 90%;

  border-radius: var(--bord-rad);
  pointer-events: none;
}

@media screen and (max-width: 1000px) {
  .message-content {
    max-height: 70%;
    min-width: 40rem;
    max-width: 70vw;
  }
}

@media screen and (max-width: 700px) {
  .message-content {
    max-height: 70vh;
    min-width: 20rem;
    max-width: 70vw;
  }
}
