.message-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.message-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  width: 1000px;
  max-height: 90%;

  border-radius: 10px;
  pointer-events: none;
}

.user-info {
  text-align: left;
  position: absolute;
  left: 90px;
  top: -70px;
}

.user-name {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}
