.image-message-container {
  display: flex;
  align-items: center;

  padding: 1rem;
  padding-bottom: 3rem;
  margin-right: 30px;

  transform: rotate(-3deg);

  background-color: white;
  border-radius: var(--bord-rad);
  box-shadow: 5px 5px 30px rgb(7, 1, 46);
}

.image-container {
  max-width: 65vw;
  max-height: 65dvh;
  width: fit-content;
  height: fit-content;

  overflow: hidden;
}

.user-image {
  box-sizing: border-box;
  border-radius: 0.8rem;
  background-color: white;
  max-width: 65vw;
  max-height: 65dvh;
  object-fit: contain;
}

.user-name {
  font-size: 3rem;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  transform: rotate(-90deg);
  color: white;
  width: 65dvh;
}

.user-name {
  position: absolute;
  right: calc(100% - 32.5dvh + 40px);
  margin: 0;

  width: 65dvh;

  font-size: 3rem;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  transform: rotate(-90deg);
  color: white;
}

.whatsapp-icon {
  position: absolute;
  right: -100px;
  bottom: 0px;
  width: 8rem;
  transform: rotate(15deg);
}

@media screen and (max-width: 1000px) {
  .image-container {
    max-width: 55vw;
    max-height: 55dvh;
  }

  .user-image {
    max-width: 55vw;
    max-height: 55dvh;
  }

  .user-name {
    transform: rotate(0deg);
    left: 0;
    bottom: -4rem;
    width: fit-content;
  }

  .whatsapp-icon {
    right: -2rem;
    bottom: -6rem;
  }
}

@media screen and (max-width: 700px) {
  .image-container {
    max-width: 65vw;
    max-height: 65dvh;
  }

  .user-image {
    max-width: 65vw;
    max-height: 65dvh;
  }

  .whatsapp-icon {
    bottom: -4rem;
    width: 6rem;
  }
}
