.text-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  padding: 5rem;

  border-radius: 10px;
  font-weight: 500;
  color: var(--color-primary-dark);
  background-color: white;
  box-shadow: 5px 5px 30px rgb(7, 1, 46);
}

.whatsapp-icon {
  position: absolute;
  left: -40px;
  top: -70px;
  width: 110px;
  transform: rotate(-5deg);
}

.user-name {
  position: absolute;
  top: -60px;
  left: 80px;
  font-size: 3rem;
  font-weight: bold;
  text-align: right;
  margin: 0;
  white-space: nowrap;
  color: white;
}

.text-box p {
  display: inline-block;
  max-width: 100%;
  overflow-x: hidden;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
  margin: 0;
  color: var(--color-primary-dark);
  font-size: 2.6rem;
  letter-spacing: 0.4px;
  line-height: 3.5rem;
  text-align: center;
}

.text-box {
  display: inline-block;
  max-width: 800px;
  max-height: 230px;
  overflow-x: hidden;
  overflow-y: auto;
}

.text-box::-webkit-scrollbar,
.text-box::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--color-primary-dark);
  border-radius: 8px;
}

.text-box::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

.text-container > button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4rem;
  width: 4rem;
  height: 4rem;
  transition: all 0.2s ease-in-out;
  color: var(--color-primary-dark);
}

.text-container button svg {
  width: 2.3rem;
  height: 2.3rem;
}

.text-container button:hover {
  background-color: var(--color-primary-dark);
  color: white;
  transition: all 0.2s ease-in-out;
}

.video-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.video-container button {
  position: absolute;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 3;
  top: 30px;
  right: 30px;
}

.video-container video {
  height: 90vh;
  max-width: 1000px;
  overflow: hidden;
}
