.text-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  padding: 5rem;

  border-radius: var(--bord-rad);
  font-weight: 500;
  color: var(--color-primary-dark);
  background-color: white;
  box-shadow: 5px 5px 30px rgb(7, 1, 46);
  pointer-events: none;
}

.text-container > button {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4rem;
  width: 4rem;
  height: 4rem;
  transition: all 0.2s ease-in-out;
  color: var(--color-primary-dark);
  pointer-events: all !important;
}

.text-container button svg {
  width: 2.3rem;
  height: 2.3rem;
}

.text-container button:hover {
  background-color: var(--color-primary-dark);
  color: white;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .text-box p {
    font-size: 2.1rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  .text-box p {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .text-container {
    padding: 6rem 2rem;
  }

  .text-container > button {
    right: 1rem;
    bottom: 1rem;
  }
}
