.video-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.9);
  pointer-events: none;
}

.video-container > button {
  position: absolute;
  border-radius: var(--bord-rad);
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 30px;
  right: 30px;
  pointer-events: none;
  font-size: 1rem;
}

.video-container video {
  height: 90dvh;
  max-width: 1000px;
  overflow: hidden;
  pointer-events: none;
}
