:root {
  --color-primary: #0693e3;
  --color-whatsapp: rgb(3, 211, 48);
  --color-primary-dark: #03043d;
  --text-background-color: rgba(255, 255, 255, 0.9);
  --bord-rad: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  z-index: 0;
}

[class*="message-content"]:has(div[class*="TextMessage"]) {
  margin-top: 5.5rem;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
}
